<!DOCTYPE html>
<html lang="en" style="width: 100%;height: 100%;">
<head>
	<meta http-equiv="refresh" content="5;url=https://api-cyz.herokuapp.com/docs">
</head>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cyz-APis</title>
    <meta name="theme-color" content="rgb(8,8,8)">
    <meta name="author" content="Cyz-APis">
    <meta name="description" content="Entahlah kawan. Saya hanya sedang bosan dengan semua sandiwara ini.">
    <meta name="twitter:description" content="Entahlah kawan. Saya hanya sedang bosan dengan semua sandiwara ini.">
    <meta name="twitter:image" content="https://ihsandevs.github.io/assets/img/thumb.png">
    <meta property="og:image" content="https://ihsandevs.github.io/assets/img/thumb.png">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="CyzChan">
    <meta property="og:description" content="Entahlah kawan. Saya hanya sedang bosan dengan semua sandiwara ini.">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/ico/favicon-16x16.png?h=84e42427fa76a2421d0da85eea320f75">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/ico/favicon-32x32.png?h=0d6b6617e82f17ee5c02dd0095b4f03c">
    <link rel="icon" type="image/png" sizes="180x180" href="assets/img/ico/apple-touch-icon.png?h=b5a43ddb94568bc65e8216efc41dad25">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/ico/android-chrome-192x192.png?h=84319ca7bf5bc3c20404072986830971">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/ico/android-chrome-512x512.png?h=d9ca042e874a9e836a61f9f514faefe7">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="manifest" href="manifest.json?h=6ff072cc2335867f8a41fb0cdb6c9fbb">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/styles.css?h=7215363593fd2aa9533431e689bbde99">
</head>

<body class="text-center d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center" style="width: 100%;height: 100%;">
    <h1 class="d-inline-flex" data-aos="fade" data-aos-duration="750" data-aos-delay="100" data-aos-once="true" style="color: rgb(255,255,255);font-family: Inconsolata, monospace;text-shadow: 8px 8px 1px rgba(255,255,255,0.08);transform-style: preserve-3d;transform-origin: center;font-size: 5vw;">Welcome In <a data-toggle="tooltip" data-bss-tooltip="" style="text-decoration: none;color: rgb(252,141,141);" href="tg://resolve?domain=IhsanDevs" title="Contact me on Telegram">&nbsp;Cyz Rest-APIs</a>.</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js?h=78688d71ac1750b06b8c67b95b5a2245"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>